# Amostra de Dados para Data Frames em Pandas
Esta função retorna uma estrutura com uma amostra e o tipo de cada coluna disponível no dataframe estudado. O tamanho do sample pode ser personalizado e considera os valores distintos de cada coluna.

In [26]:
import pandas as pd
import re

def _f_gera_amostra(
    _p_df: pd.DataFrame, #dataframe estudado
    _p_sample_size: int = 5 #tamanho da amostra
) -> pd.DataFrame:
    _samples = []
    
    for _column in _p_df.columns:
        
        _samples.append({
            "column": _column, 
            "sample": "; ".join([str(_aux) for _aux in _p_df[[_column]].drop_duplicates().head(_p_sample_size)[_column].values]),
            "type": type(_p_df[_column][0])
        })
    
    return pd.DataFrame(_samples)

In [27]:
_dados = [
    {"name": "fernando reis",
     "birth_year": 1987,
     "birth_month": "August",
     "height": 1.83},
    {"name": "poliana costa",
     "birth_year": 1984,
     "birth_month": "December",
     "height": 1.67},
    {"name": "davi gabriel costa",
     "birth_year": 2011,
     "birth_month": "March",
     "height": 1.66},
    {"name": "nicolas costa",
     "birth_year": 2013,
     "birth_month": "September",
     "height": 1.55},
    {"name": "luna costa",
     "birth_year": 2021,
     "birth_month": "July",
     "height": .87}
]

_df = pd.DataFrame(_dados)

_f_gera_amostra(_df, 5)

,column,sample,type
0,name,fernando reis; poliana costa; davi gabriel cos...,<class 'str'>
1,birth_year,1987; 1984; 2011; 2013; 2021,<class 'numpy.int64'>
2,birth_month,August; December; March; September; July,<class 'str'>
3,height,1.83; 1.67; 1.66; 1.55; 0.87,<class 'numpy.float64'>

# Remove Caracteres Especiais
Esta função remove os caracteres especiais de uma frase e mantém apenas espaços simples entre as palavras.

In [23]:
import re

def _f_remove_caracteres_especiais(
        _p_texto: str
) -> str:
    return re.sub(r'\s+', ' ', re.sub(r'[^\w\s]', ' ', _p_texto)).strip()

In [28]:
_f_remove_caracteres_especiais("eu-sou-fernando-,- dos... reis& gonçalves.....    ehe     .........")

'eu sou fernando dos reis gonçalves ehe'